Package: mate-screensaver-floaters
Priority: extra
Section: Applications/Emulators
Maintainer: none
Architecture: all
Depends: mate-screensaver
Version: 1
Description: Extra floaters for the MATE Screensaver.
 Includes logos for Debian and Linux Mint plus British Rail double arrows.


